h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 75px;
    color:blueviolet;
    text-align: center;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color:blueviolet;
}


body  {
    background-color: bisque;
}

div.recipe-text {
    font-family: 'Courier New', Courier, monospace;
}

img.lasagna {
    height: auto;
    width: 500px;
}

img.pizza {
    height: auto;
    width: 500px;
}

img.fettucine {
    height: auto;
    width: 500px;
}

.homepage.list {
    font-size: 50px;
}

div.list-container {
    text-align: center;
}

a.home-nav {
    font-size: 20;
}